.App {
  /* background-color: orange; */
  color: black;
  text-align: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.Form-create_user {
  padding: 10px;
  border-radius: 10px;
  background-color: #6c6c7f;
  color: white;
}
