{
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": ["eslint:recommended", "react-app"],
  "plugins": ["prettier"],
  "rules": {
    "no-console": 1,
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"]
  }
}
